<section class="title">
  <div class="childrenInline">
    <h1>Projet {{currentProjectId}}</h1>
    <div *ngIf="project != null" class="childrenInline">
      <button mat-raised-button matTooltip="Rafraichir les données affichées" (click)="Refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-raised-button color="primary" [disabled]="project.processStatus === processStatus.Running" matTooltip="Démarrer la recherche des packages" (click)="Analyze()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-raised-button color="accent" [disabled]="project.processStatus != processStatus.Running" matTooltip="Arrêter la recherche en cours" (click)="Stop()">
        <mat-icon>stop</mat-icon>
      </button>
      <button mat-raised-button color="warn" [disabled]="project.processStatus === processStatus.Running" matTooltip="Supprimer le projet" (click)="DeleteProject()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section class="configuration" *ngIf="project != null">
  <h2>Configuration</h2>
  <!-- Editing the configuration -->
  <div class="editconfig" *ngIf="edit === true">

    <!-- The repository to use -->
    <mat-form-field *ngIf="project != null">
      <mat-label>Le dépot</mat-label>
      <mat-select [(ngModel)]="project.repositoryId">
        <mat-option>--Dépot--</mat-option>
        <mat-option *ngFor="let repo of repositories" [value]="repo.name">{{repo.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Command to prepare files -->
    <mat-form-field *ngIf="project != null">
      <mat-label>Commande de préparation</mat-label>
      <textarea matInput [(ngModel)]="project.commandLinesBeforeParse"></textarea>
    </mat-form-field>

    <!-- The package source where search package metadata -->
    <mat-form-field *ngIf="project != null">
      <mat-label>Server nuget pour rechercher les métadonnées</mat-label>
      <textarea matInput [(ngModel)]="project.nugetServerUrl"></textarea>
    </mat-form-field>
  </div>

  <!-- Display the configuration-->
  <div *ngIf="edit === false && project != null">
    <table class="beautifulTable">
      <tr>
        <th> Dépot </th>
        <th>{{project.repositoryId}}</th>
      </tr>
      <tr>
        <th> Commande de préparation </th>
        <th><pre>{{project.commandLinesBeforeParse}}</pre></th>
      </tr>
      <tr>
        <th> Nuget server </th>
        <th>{{project.nugetServerUrl}}</th>
      </tr>
    </table>
  </div>
  <div class="childrenInline">
    <button mat-raised-button style="margin-top: 20px" color="accent" *ngIf="edit === false" [disabled]="project.processStatus === processStatus.Running" (click)="EditProject()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button color="warn" *ngIf="edit === true" (click)="UpdateProject()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button *ngIf="edit === true" (click)="CancelUpdateProject()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</section>
<hr />
<!-- Display packages -->
<section *ngIf="project != null">
  <div *ngIf="project.processStatus == processStatus.Waiting">
    <h2>Packages trouvés pour le projet</h2>
    <!-- For downloading csv file -->
    <div class="childrenInline">
      <mat-icon style="margin-right: 0px">archive</mat-icon>
      <!-- To download csv file that contains all package of the project -->
      <a [href]="GetCsvUrlFromProject()" [download]="currentProjectId + '.csv'">Télécharger le fichier csv des packages trouvés</a>
    </div>
    <app-packagespaginator [currentProjectId]="currentProjectId"></app-packagespaginator>
  </div>
</section>
<section *ngIf="project != null">
  <div *ngIf="project.processStatus === processStatus.Error">
    <h2>Erreur de traitement</h2>
    <pre>{{project.lastAnalysisError}}</pre>
  </div>
</section>
