<section class="title">
  <div class="childrenInline">
    <h1>Dépot {{repositoryId}}</h1>
    <button mat-raised-button color="warn" (click)="DeleteRepository()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</section>
<!-- div display where repository loaded -->
<section *ngIf="repository != null">
  <div>
    <p>Type de dépot : {{repositoryType[repository?.repositoryType]}}</p>

    <!-- Div for Git repository -->
    <div class="editconfig" *ngIf="edit === true && repository.repositoryType === repositoryType.Git">
      <!-- the git url in ssh format -->
      <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput [(ngModel)]="repository.url" />
      </mat-form-field>

      <!-- The git branch name -->
      <mat-form-field>
        <mat-label>Branch</mat-label>
        <input matInput [(ngModel)]="repository.branch" />
      </mat-form-field>

      <!-- The ssh key to clone the repository -->
      <mat-form-field>
        <mat-label>Authentification</mat-label>
        <mat-select [(ngModel)]="repository.credentialId">
          <mat-option>--selectionner--</mat-option>
          <mat-option *ngFor="let cred of availableCredentials" [value]="cred.name">{{cred.name + '(' + cred.credentialTypeName + ')'}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="edit === false && repository.repositoryType === repositoryType.Git">
      <table class="beautifulTable">
        <tr>
          <th>Url</th>
          <th>{{repository.url}}</th>
        </tr>
        <tr>
          <th>Branch</th>
          <th>{{repository.branch}}</th>
        </tr>
        <tr>
          <th>Authentification</th>
          <th>{{credentials.name + '(' + credentials.credentialTypeName + ')'}}</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="buttons" class="childrenInline">
    <button mat-raised-button color="warn" *ngIf="edit === true" (click)="UpdateRepository()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button *ngIf="edit === true" (click)="CancelUpdateRepository()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button style="margin-top: 20px;" color="accent" *ngIf="edit === false" (click)="EditRepository()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</section>


