<section class="title">
  <div class="childrenInline">
    <h1>Dépot {{repositoryId}}</h1>
    <button mat-raised-button color="warn" (click)="DeleteRepository()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</section>
<!-- div display where repository loaded -->
<section *ngIf="repository != null">
  <div>
    <p>Type de dépot : {{repository?.repositoryType}}</p>

    <!-- Div for Git repository -->
    <div class="editconfig" *ngIf="edit === true && repository.repositoryType === 'Git'">
      <!-- the git url in ssh format -->
      <mat-form-field>
        <mat-label>Url ssh</mat-label>
        <input matInput [(ngModel)]="repository.url">
      </mat-form-field>

      <!-- The git branch name -->
      <mat-form-field>
        <mat-label>Branch</mat-label>
        <input matInput [(ngModel)]="repository.branch">
      </mat-form-field>

      <!-- The ssh key to clone the repository -->
      <mat-form-field>
        <mat-label>Clé ssh</mat-label>
        <mat-select [(ngModel)]="repository.sshKeyName">
          <mat-option>--selectionner--</mat-option>
          <mat-option *ngFor="let cred of availableCredentials" [value]="cred.name">{{cred.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="edit === false && repository.repositoryType === 'Git'">
      <table class="beautifulTable">
        <tr>
          <th>Url ssh</th>
          <th>{{repository.url}}</th>
        </tr>
        <tr>
          <th>Branch</th>
          <th>{{repository.branch}}</th>
        </tr>
        <tr>
          <th>Clé ssh</th>
          <th>{{repository.sshKeyName}}</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" *ngIf="edit === true" (click)="UpdateRepository()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button *ngIf="edit === true" (click)="CancelUpdateRepository()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button *ngIf="edit === false" (click)="EditRepository()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</section>


