<h1 mat-dialog-title>Ajout d'une authentification</h1>
<div mat-dialog-content>
  <form class="editconfig">

    <!-- The name of the credential -->
    <mat-form-field>
      <mat-label>Nom pour affichage seulement</mat-label>
      <input matInput [formControl]="name" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="name.hasError('required')">Doit être non vide</mat-error>
      <mat-error *ngIf="name.hasError('minlength')">Il faut au moins 3 caractères</mat-error>
    </mat-form-field>

    <!-- Select the credential type -->
    <mat-form-field>
      <mat-label>Type d'authentification</mat-label>
      <mat-select [formControl]="credentialType" [errorStateMatcher]="matcher">
        <mat-option>--selectionner--</mat-option>
        <mat-option *ngFor="let cred of credentialTypes" [value]="cred">{{cred.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="name.hasError('required')">Le type de credential doit être définis</mat-error>
    </mat-form-field>

    <!-- The private key of the credential (the ssh key) -->
    <mat-form-field *ngIf="selected?.name === 'ssh'">
      <mat-label>Clé privée</mat-label>
      <textarea matInput [formControl]="key" [errorStateMatcher]="matcher"></textarea>
      <mat-error *ngIf="key.hasError('required')">Doit être non vide</mat-error>
    </mat-form-field>

    <!-- The name of the login credential -->
    <mat-form-field appearance="fill" *ngIf="selected?.name === 'password'">
      <mat-label>Login</mat-label>
      <input matInput [formControl]="login" [errorStateMatcher]="matcher"/>
      <mat-error *ngIf="login.hasError('required')">Doit être non vide</mat-error>
    </mat-form-field>

    <!-- The password credential -->
    <mat-form-field *ngIf="selected?.name === 'password'">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" [errorStateMatcher]="matcher"/>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.hasError('required')">Doit être non vide</mat-error>
    </mat-form-field>

    <!-- The password credential -->
    <mat-form-field *ngIf="selected?.name === 'token'">
      <mat-label>GitHub Token</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="token" [errorStateMatcher]="matcher"/>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide token'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="token.hasError('required')">Doit être non vide</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="OnOkClick()" cdkFocusInitial [disabled]="!selectedvalid">Créer</button>
</div>
