<h1 mat-dialog-title>Ajout d'une authentification</h1>
<div mat-dialog-content>
  <div class="editconfig">

    <!-- The name of the credential -->
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput [(ngModel)]="data.name" />
    </mat-form-field>

  <!-- Select the credential type -->
    <mat-form-field>
      <mat-label>Type d'authentification</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>--selectionner--</mat-option>
        <mat-option *ngFor="let cred of credentialTypes" [value]="cred">{{cred.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- The private key of the credential (the ssh key) -->
    <mat-form-field *ngIf="selected?.name === 'ssh'">
      <mat-label>Clé</mat-label>
      <textarea matInput [(ngModel)]="data.key"></textarea>
    </mat-form-field>

    <!-- The name of the login credential -->
    <mat-form-field appearance="fill" *ngIf="selected?.name === 'password'">
      <mat-label>Login</mat-label>
      <input matInput [(ngModel)]="data.login" />
    </mat-form-field>

    <!-- The name of the password credential -->
    <mat-form-field *ngIf="selected?.name === 'password'">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="OnOkClick()" cdkFocusInitial>Créer</button>
</div>
