/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue", sans-serif;
}

.biutifulTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

  .biutifulTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .biutifulTable tr:nth-child(even) {
    background-color: #dddddd;
  }

.editconfig {
  display: table-caption;
}

div.title {
  margin-top: 20px;
  display: inline-flex;
}

div.childrenInline {
  display: inline-flex;
}

  div.childrenInline > * {
    margin-right: 20px;
  }

app-create-project, app-create-credential, app-create-repository {
  display: contents;
}


