<h1 mat-dialog-title>Création d'un nouveau dépot</h1>
<div mat-dialog-content>
  <div class="editconfig">
    <mat-form-field>
      <mat-label>Type de dépot</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>--selectionner--</mat-option>
        <mat-option *ngFor="let opt of repositoryTypes" [value]="opt">{{opt.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nom du dépot (pour affichage)</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <!-- for git repositories -->
    <!-- the git url in ssh format -->
    <mat-form-field *ngIf="selected?.name === 'Git'">
      <mat-label>Url ssh</mat-label>
      <input matInput [(ngModel)]="data.url">
    </mat-form-field>

    <!-- The git branch name -->
    <mat-form-field *ngIf="selected?.name === 'Git'">
      <mat-label>Branch</mat-label>
      <input matInput [(ngModel)]="data.branch">
    </mat-form-field>

    <!-- The ssh key to clone the repository -->
    <mat-form-field *ngIf="selected?.name === 'Git'">
      <mat-label>Clé ssh</mat-label>
      <mat-select [(ngModel)]="data.sshKeyName">
        <mat-option>--selectionner--</mat-option>
        <mat-option *ngFor="let cred of availableCredentials" [value]="cred.name">{{cred.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onOkClick()" [mat-dialog-close]="data" cdkFocusInitial>Créer</button>
</div>
