<div>
  <div class="childrenInline">
    <h1>Les clées SSH</h1>
    <app-create-credential (credentialCreated)="credentialListUpdate($event)"></app-create-credential> <!-- Display button that permit to create a new credential -->
  </div>
  <!-- Display the list of credentials -->
  <div>
    <ul>
      <li *ngFor="let credential of credentials">
      {{ credential.name }}
        <button mat-raised-button color="warn" (click)="DeleteCredential(credential)">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
