<div>
  <div class="childrenInline">
    <h1>Les moyens d'authentification</h1>
    <app-create-credential (credentialCreated)="credentialListUpdate($event)">
      <mat-icon>add</mat-icon>
    </app-create-credential> <!-- Display button that permit to create a new credential -->
  </div>
  <!-- Display the list of credentials -->
  <div>
    <ul style="list-style-type: none;">
      <li *ngFor="let credential of credentials" style="margin: 10px">
        <button mat-raised-button color="warn" (click)="DeleteCredential(credential)">
          <mat-icon>delete</mat-icon>
        </button>
        <span style="margin-left: 20px">{{ credential.name }} ({{ credential.credentialTypeName }})</span>
      </li>
    </ul>
  </div>
</div>
