<!-- Filters -->
<div id="filters">
  <!-- Select the csproj-->
  <mat-form-field>
    <mat-label>Filtre sur le projet associé</mat-label>
    <input type="text" matInput placeholder="monprojet.csproj" [formControl]="selectProjectControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" matInput (optionSelected)="applyCsProjFilter($event)">
      <mat-option *ngFor="let csproj of filteredConsumers | async" [value]="csproj">
        {{csproj}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Filter from th id -->
  <mat-form-field floatLabel="auto">
    <mat-label><mat-icon>filter_alt</mat-icon>Filter sur l'id (ex: -Stago +log)</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. log4net" />
  </mat-form-field>

</div>
<div class="fillelements">
  <!-- Display list of packages found -->
  <table mat-table [dataSource]="packagesTableSource" matSort class="mat-elevation-z8">
    <!-- Package Id -->
    <ng-container matColumnDef="packageId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element">
        <a *ngIf="element.projectUrl" href="{{element.projectUrl}}" title="Lien sur le projet" target="_blank">{{element.packageId}}</a>
        <p *ngIf="!element.projectUrl">{{element.packageId}}</p>
      </td>
    </ng-container>

    <!-- Package Version -->
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef> Version </th>
      <td mat-cell *matCellDef="let element"> {{element.version}} </td>
    </ng-container>

    <!-- Package licence -->
    <ng-container matColumnDef="licence">
      <th mat-header-cell *matHeaderCellDef> Licence </th>
      <td mat-cell *matCellDef="let element"> {{element.licence}} </td>
    </ng-container>

    <!-- Package description -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Package type -->
    <ng-container matColumnDef="packageType">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.packageType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
